# Gradle
*.iml
.gradle
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# SDK 路径与本地配置
/local.properties
local.properties

# Android Studio / IntelliJ IDEA
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
*.iws
*.ipr
out/

# macOS
.DS_Store

# Android 编译输出产物
/build
/captures
captures/
*.apk
*.ap_
*.dex
*.class
app/release/
app/debug/
*.txt

# NDK / CMake
.externalNativeBuild
.cxx

# 签名密钥、密码配置
*.jks
*.keystore
signing.properties

# 日志、临时文件
*.log
buildSrc/build/

# Assets（本地测试数据不提交）
/app/src/main/assets/
